---
import Partition from "../components/Partition.astro";

import Social from "../components/Social.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import FriendLink from "../components/FriendLink.astro";

const pageTitle = "Aria";

const currentDate = new Date();
const ariaBirthDate = new Date("2002-05-07");

const seconds = (currentDate.getTime() - ariaBirthDate.getTime()) / 1000;

const age = seconds / 31556952;
---

<BaseLayout pageTitle={pageTitle}>
    <Partition>
        <main>
            <h1 class="text-4xl">Welcome!~</h1>
            <p>
                I'm Aria, a <span class="tooltip"
                    >{Math.floor(age)}<span class="tooltiptext"
                        ><nobr>{age.toFixed(8)} years to be exact!</nobr></span
                    ></span
                > year old software developer and electronics repair tech out of
                rural <span style="color: #D4F7CF;"
                    >Australia <span
                        class="backdrop-brightness-200 px-1 text-2xl rounded"
                        >🇦🇺</span
                    ></span
                >
            </p>
        </main>
    </Partition>
    <Partition>
        <h1 class="text-2xl">Usefull Stuff</h1>
        <ul class="list-disc p-4">
            <li>PGP public key fingerprint: <code>7EBD 3E0C 7D3D 5C7D 5CA8  A03F 4977 6EAC 872B 884B</code></li>
            <li>PGP public key: <a href="/static/keys/49776EAC872B884B_public.asc" download="49776EAC872B884B_public.asc"><code>49776EAC872B884B_public.asc</code></a> <sub><a href="https://archive.org/details/49776EAC872B884B_public.asc" target="_blank">archive link</a></sub></li>
            <li>SSH public key: <a href="https://git.aria.coffee/aria.keys" target="_blank">on my personal git serrver</a> or <a href="https://git.witchcraft.systems/aria.keys" target="_blank">on witchcraft systems' git server</a></li>
            <li>minisign key: <a href="/static/keys/aria-minisign.pub" download="aria-minisign.pub"><code>aria-minisign.pub</code></a></li>
            <li>Email: <a href="mailto:hello@aria.coffee"><code>hello@aria.coffee</code></a> (supports <a href="https://delta.chat/en/" target="_blank">deltachat</a>!)</li>
            <li>Keyoxide: use my <a href="https://keyoxide.org/hello@aria.coffee" target="_blank">email</a> or my <a href="https://keyoxide.org/7EBD3E0C7D3D5C7D5CA8A03F49776EAC872B884B" target="_blank">PGP key fingerprint</a></li>
        </ul>
        <br />
        <sub>There is new signed note with all my info here: <a href="/static/messages/keys_and_addrs-2025-06-09.md" target="_blank">message</a> + <a href="/static/messages/keys_and_addrs-2025-06-09.md.minisig" target="_blank">minisign sig</a> + <a href="/static/messages/keys_and_addrs-2025-06-09.md.asc" target="_blank">gpg signed</a> <sub><a href="https://archive.org/download/keys_and_addrs-2025-06-09.md_202506" target="_blank">archive link</a></sub></li></sub>
        <br />
        <sub>There is a PGP signed note with all my info <sub>(except minisign pub key)</sub> <a href="/static/messages/keys_and_addrs.txt" target="_blank">here</a> <sub><a href="https://archive.org/details/keys_and_addrs" target="_blank">archive link</a></sub></li></sub>
    </Partition>
    <Partition>
        <h1>Socials:</h1>
        <Social />
    </Partition>
    <Partition>
        <h1 class="text-2xl">These are cool people!!</h1>
        <br />
        <div class="flex outline-dotted flex-wrap justify-center box-content">
            <FriendLink
                name="Alyxia"
                image="https://alyxia.dev/static/img/88x31/self.png"
                target="https://alyxia.dev"
            />
            <div class="outline-dashed flex outline-3 m-0.5">
                <FriendLink
                    name="Prefetcher"
                    image="https://nanoshinono.me/prefetcher.gif"
                    target="https://nanoshinono.me/"
                />
                <FriendLink
                    name="Ata"
                    image="https://ata.moe/88x31.png"
                    target="https://ata.moe"
                />
            </div>
            <FriendLink
                name="Amemoia"
                image="/static/img/88x31/BuhMoe.png"
                target="https://buh.moe/"
            />
            <FriendLink
                name="Hayden"
                image="https://hayden.moe/88x31/hayden.png"
                target="https://hayden.moe/"
            />
            <FriendLink
                name="Onzecki"
                image="https://onz.ee/assets/88x31s/png/onzecki.png"
                target="https://onz.ee/"
            />
            <FriendLink
                name="NotNite"
                image="https://notnite.com/buttons/notnite.png"
                target="https://notnite.com/"
            />
            <FriendLink
                name="0x5066"
                image="https://erisdump.neocities.org/buttons/88x31_2.gif"
                target="https://erisdump.neocities.org"
            />
            <FriendLink
                name="Espi"
                image="https://espi.me/buttons/espi.png"
                target="https://www.espi.me"
            />
            <FriendLink
                name="Alula"
                image="https://alula.me/webring/alula.png"
                target="https://alula.me/"
            />
            <FriendLink
                name="Sapphic"
                image="https://sapphic.moe/buttons/sapphic.png"
                target="https://sapphic.moe/"
            />
            <FriendLink
                name="Miyuko"
                image="https://calayucu.com/button-88x31.png"
                target="https://calayucu.com"
            />
            <FriendLink
                name="meow_d"
                image="https://meow-d.github.io/assets/images/buttons/meow_d.webp"
                target="https://meow-d.github.io/"
            />
            <div class="outline-dashed flex outline-3 m-0.5">
                <FriendLink
                    name="~thermia"
                    image="https://girlthi.ng/~thermia/img/88x31/thermia.gif"
                    target="https://girlthi.ng/~thermia/"
                />
                <FriendLink
                    name="girlthi.ng"
                    image="https://girlthi.ng/~thermia/img/88x31/girlthing.gif"
                    target="https://girlthi.ng/"
                />
            </div>
            <FriendLink
                name="LeNooby 09"
                image="https://lenooby09.tech/88x31.png"
                target="https://lenooby09.tech"
            />
            <FriendLink
                name="Ackwell"
                image="https://ackwell.au/assets/88x31/ackwell-coil.png"
                target="https://ackwell.au"
            />
            <div class="outline-dashed flex outline-3 m-0.5">
                <FriendLink
                name="witchcraft.systems"
                image="https://ari.express/assets/PWsbutton.png"
                target="https://pds.witchcraft.systems/"
            />
            <FriendLink
                name="Ari"
                image="https://ari.express/assets/Button.png"
                target="https://ari.express/"
            />
            </div>
            <FriendLink
                name="ariaOS"
                image="https://aria.catwife.dev/ariaos-button.png"
                target="https://aria.catwife.dev/"
            />
            <FriendLink
                name="Xan Surnamehere"
                image="https://xan.lol/img/btn/meta.gif"
                target="https://xan.lol/"
            />
            <FriendLink
                name="hotsocket"
                image="https://hotsocket.fyi/files/media/img/button.png"
                target="https://hotsocket.fyi/"
            />
        </div>
        <br />
        <a href="/other buttons">Extra 88x31 buttons!</a>
    </Partition>
    <Partition>
        <h2>My badge:</h2>
        <div class="flex w-fit h-fit" style="background-color: #FFFCBC;">
            <a href="https://aria.coffee/" target="_blank">
                <img
                    alt="Aria"
                    src="https://aria.coffee/static/img/buttons/aria.gif"
                    style="min-width: 88px; width: 176px; min-height: 31px; height: 62px; image-rendering: pixelated;"
                />
            </a>
        </div>
        <br />
        <p>Code:</p>
        <label>
            <textarea
                onclick="this.select()"
                readonly
                cols="60"
                rows="2"
                class="rounded backdrop-brightness-0"
                style="background-color: black;"
                >&lt;img src="https://aria.coffee/static/img/buttons/aria.gif"
                alt="Aria" style="image-rendering: pixelated;" /&gt;</textarea
            >
        </label>
    </Partition>
    <script>
        setInterval(() => {
            const currentDate = new Date();
            const ariaBirthDate = new Date("2002-05-07");

            const seconds =
                (currentDate.getTime() - ariaBirthDate.getTime()) / 1000;

            const age = seconds / 31556952;

            const ageElem = document.querySelector(".tooltip");

            ageElem!.outerHTML = `<span class="tooltip">${Math.floor(age)}<span class="tooltiptext"><nobr>${age.toFixed(8)} years to be exact!</nobr></span></span>`;
        }, 1000);
    </script>
</BaseLayout>
